<div *ngIf="tInstance?.ownProperties as cols" class="flex-table-container">
  <div class="flex-table header">
    <ng-container *ngFor="let col of cols">
      <div class="flex-header" (click)="setSortConfig(col)">
        <span>{{ tInstance.getTitle(col) }}</span>
        <fa-icon
          *ngIf="
            (sortColConfig$ | async) === col && (sortOrderConfig$ | async) === 1
          "
          icon="sort-down"
        ></fa-icon>
        <fa-icon
          *ngIf="
            (sortColConfig$ | async) === col && (sortOrderConfig$ | async) === 0
          "
          icon="sort-up"
        ></fa-icon>
        <fa-icon
          *ngIf="(sortColConfig$ | async) !== col"
          class="icon-placeholder"
          icon="sort"
        ></fa-icon>
      </div>
    </ng-container>
  </div>

  <div class="flex-body">
    <div class="flex-table" *ngFor="let row of data">
      <ng-container *ngFor="let col of cols">
        <div class="flex-cell">
          <span
            ngxClipboard
            [cbContent]="row.getFormattedValue(col)"
            (click)="showCopiedMsg(row.getFormattedValue(col))"
            >{{ row.getFormattedValue(col) }}</span
          >
          <div class="flex-sub-cell">
            <span *ngIf="!row.getExtensionInfo(col)?.length; else tags">{{
              row.getExtensionInfo(col)
            }}</span>
            <ng-template #tags>
              <span
                class="tag"
                ngxClipboard
                (click)="showCopiedMsg(tag)"
                [cbContent]="tag"
                *ngFor="let tag of row.getExtensionInfo(col); let i = index"
                [ngStyle]="{ 'background-color': getTagColor(i) }"
                >{{ tag }}</span
              >
            </ng-template>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
