<h3>Test Task For DataMola</h3>
<h1>Flex Table View <small>of TV-series</small></h1>
<h3>Performed by <small>Olena Yedyharova</small></h3>

<ul aria-label="Contacts:">
  <li>Email <a href="mailto:yedyharova@gmail.com">yedyharova@gmail.com</a></li>
  <li>Skype <a href="skype:yedyharova">yedyharova</a></li>
  <li>Telegram <a href="tg:olyedyna">@olyedyna</a></li>
  <li>
    LinkedIn
    <a href="https://www.linkedin.com/in/olena-yedyharova/" target="_blank"
      >Olena Yedyharova</a
    >
  </li>
</ul>
