.navigation-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  ul {
    padding-inline-start: 0;
    li {
      display: inline-flex;
      margin-left: 1em;
      a {
        padding: 0.2em;
      }
    }
  }
}

.msg {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0.5em;
  margin-right: 0.5em;
  width: 150px;
  background-color: #0042fd26;
  padding: 0.5em;
  border-radius: 20px/20px;
  z-index: 20;
}
