.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  padding: 3em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;

  > * {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  @media (max-width: 414px) {
    padding: 3em 0.5em;
  }
}

@font-face {
  font-family: opensanscondensed;
  src: url(assets/fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf)
    format("truetype");
}

body {
  --text-color: rgb(29, 27, 27);
  --link-color: #8a27ec;
  --link-active-bg-color: #dccfe8;
  --defined-color-0: #924dd6;
  --defined-color-1: #f0994a;
  --defined-color-2: #ba6ad8;
  --defined-color-3: #eb5757;
  --defined-color-4: #828282;
  --defined-color-5: #f2eafa;
  --defined-color-6: #4f4f4f;
  /*   --defined-color-7: #924dd6;
  --defined-color-8: #924dd6;
  --defined-color-9: #924dd6;
  --defined-color-10: #924dd6;
  --defined-color-11: #924dd6;
  --defined-color-12: #924dd6;
  --defined-color-13: #924dd6; */
}

* {
  font-family: "opensanscondensed", "lato", "arial", sans-serif;
  font-weight: 400;
  color: var(--text-color);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  list-style: none;
  &:before {
    content: attr(aria-label);
    font-size: 120%;
    font-weight: bold;
    margin-left: -15px;
  }
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: var(--link-color);
  cursor: pointer;

  &.active,
  &:hover {
    background-color: var(--link-active-bg-color);
    border-radius: 10%;
  }
}

router-outlet {
  display: none;
}

.max-height {
  height: 100%;
  overflow: hidden;
}

.input {
  display: inline-block;
  padding: 0.1em 2em 0.1em 0.8em;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  + fa-icon {
    display: inline;
    margin-left: -1.5em;
    opacity: 0.5;
  }
}
.input:hover {
  border-color: #888;
}
.input:focus {
  border-color: #aaa;
  /*  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring; */
  color: #222;
  outline: none;
}
.select {
  cursor: pointer;
  display: block;
  padding: 0.1em 2em 0.1em 0.8em;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%234f4f4f%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.select::-ms-expand {
  display: none;
}
.select:hover {
  border-color: #888;
}
.select:focus {
  border-color: #aaa;
  /*  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring; */
  color: #222;
  outline: none;
}
.select option {
  font-weight: normal;
}
